{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/svg" href="{% static 'img/logo.svg' %}">
        <title>EZ AP Companion</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="header">
            <img src="{% static 'img/logo.svg' %}" alt="logo">
            <h1>COMPANION</h1>
        </div>
        <div class="browse">
            <h2>Looking for AP Calculus Practice Problems?</h2>
            <a href = "/problems/">Browse >></a>
        </div>
    </body>
</html>