@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');

html {
    background-color: #1e1e1e;
}

body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
}

.header img {
    width: 85px;
    border: 3px solid #9eabcc;
    border-radius: 50%;
}

.header h1 {
    font-family: 'Khand';
    font-size: 60px;
    color: #ffffff;
    letter-spacing: 0.15em;
    margin-left: 25px;
}

a {
    text-decoration: none;
}
.browse {
    font-family: 'Lekton';
    text-align: center;
    color: #ffffff;
    margin-top: -60px;
}

.browse h2 {
    font-size: 40px;
    margin: 200px 0px 120px;
}

.browse a {
    font-size: 40px;
    padding: 20px 60px;
    border: #9eabcc 3px solid;
    color: #ffffff;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

.browse button { 
    margin-top:15vw;
    font-size: 25px;
    padding: 15px 50px;
    border: #9eabcc 3px solid;
    color: #ffffff;
    background-color:#1e1e1e;
    font-family: 'Lekton';
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

.browse a:hover {
    background-color: #9eabcc;
    color: #1e1e1e;
    cursor:pointer;
}

.browse button:hover {
    background-color: #9eabcc;
    color: #1e1e1e;
    cursor:pointer;
}

.selection {
    display: flex;
}

ul {
    list-style-type: none;
}

.unit-selection select {
    margin-left: 100px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Lekton';
    background-color: #1e1e1e;
    color: #ffffff;
    border: #9eabcc 3px solid;
    border-radius: 10px;
}

.tag-selection {
    position: relative;
    margin: auto;
    display: flex;
    z-index: 10000;
    align-items: center;
}

.tag-button {
    flex: 1;
    padding: 13px;
    font-size: 20px;
    font-family: 'Lekton';
    background-color: #1e1e1e;
    color: #ffffff;
    border: #9eabcc 3px solid;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    transition: 0.3s all ease-in-out;
    display: inline-block; /* Add this line */
    transition: width 0.3s ease-in-out;
    box-sizing: border-box;
}

.tag-button:hover {
    cursor:pointer;
    background-color: #9eabcc;
    color: #1e1e1e;
    cursor:pointer;
}

.tags {
    display: none;
    font-size: 1em;
    font-family: 'Lekton';
    color: #ffffff;
    border-radius: 10px;
    position:absolute;
    top: 100%;
    justify-content: center; 
    width: 24vw;
    padding-top: .7vw;
    padding-bottom: .7vw;
    background-color: #1e1e1e;
}

.tag {
    border: #9eabcc 1.5px solid;
    border-radius: 30px;
    margin-right: 4vw;
    margin-top: .5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), /* Horizontal offset, Vertical offset, Blur radius, Color */
    0 6px 20px rgba(0, 0, 0, 0.19);
}
.tag .dropdown_item-1 {
    margin-top: -5.5vw;
}
.tag .dropdown_item-6{
    border: #9eabcc 1.5px solid;
    border-radius: 30px;
}

.tags li {
    padding: 5px;
}

.tags.open {
    display: block;
 
}


.dropdown_menu-1 .dropdown_item-1,
.dropdown_menu-1 .dropdown_item-2,
.dropdown_menu-1 .dropdown_item-3,
.dropdown_menu-1 .dropdown_item-4,
.dropdown_menu-1 .dropdown_item-5,
.dropdown_menu-1 .dropdown_item-6,
.dropdown_menu-1 .dropdown_item-7,
.dropdown_menu-1 .dropdown_item-8,
.dropdown_menu-1 .dropdown_item-9,
.dropdown_menu-1 .dropdown_item-10,
.dropdown_menu-1 .dropdown_item-11,
.dropdown_menu-1 .dropdown_item-12,
.dropdown_menu-1 .dropdown_item-13 {
    opacity: 0;
    transform: translateY(-60px);
    transform-origin: top center;
    animation: slideDown 300ms ease-in-out forwards;
}

.dropdown_menu-1 .dropdown_item-1 { animation-delay: 60ms; }
.dropdown_menu-1 .dropdown_item-2 { animation-delay: 120ms; }
.dropdown_menu-1 .dropdown_item-3 { animation-delay: 180ms; }
.dropdown_menu-1 .dropdown_item-4 { animation-delay: 240ms; }
.dropdown_menu-1 .dropdown_item-5 { animation-delay: 300ms; }
.dropdown_menu-1 .dropdown_item-6 { animation-delay: 360ms; }
.dropdown_menu-1 .dropdown_item-7 { animation-delay: 420ms; }
.dropdown_menu-1 .dropdown_item-8 { animation-delay: 480ms; }
.dropdown_menu-1 .dropdown_item-9 { animation-delay: 540ms; }
.dropdown_menu-1 .dropdown_item-10 { animation-delay: 600ms; }
.dropdown_menu-1 .dropdown_item-11 { animation-delay: 660ms; }
.dropdown_menu-1 .dropdown_item-12 { animation-delay: 720ms; }
.dropdown_menu-1 .dropdown_item-13 { animation-delay: 780ms; }

@-moz-keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@-o-keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.problems {
    text-align: center;
}

.problem-container {
    max-width: 100%;
    overflow-wrap: break-word;
}

.problems p {
    margin-top: 100px;
    font-size: 24px;
    color: #ffffff;
}

.problems ul li {
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    color: #ffffff;
    
}

.answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#answer {
    padding: 10px 400px 10px 20px;
    max-width: 200px;
    caret-color: #9eabcc;
    border: #9eabcc 1.5px solid;
    border-radius: 10px;
}

#check-answer {
    font-size: 30px;
    color: #ffffff;
    background-color:#1e1e1e;
    font-family: 'Lekton';
    border: none;
}

#new-problem { 
    margin-top: 50px;
    font-size: 20px;
    padding: 10px 30px;
    border: #9eabcc 3px solid;
    color: #ffffff;
    background-color:#1e1e1e;
    font-family: 'Lekton';
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

.problems button:hover {
    background-color: #9eabcc;
    color: #1e1e1e;
    cursor:pointer;
}