{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/svg" href="{% static 'img/logo.svg' %}">
        <title>EZ AP Companion | Problems</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <link rel="stylesheet" href="{% static 'mathquill-0.10.1/mathquill.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{% static 'mathquill-0.10.1/mathquill.js' %}"></script>
        <script>
            var MQ = MathQuill.getInterface(2);
        </script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        <a href = "/home/">
            <div class="header">
                <img src="{% static 'img/logo.svg' %}" alt="logo">
                <h1>COMPANION</h1>
            </div>
        </a>
        <form method="POST" id="problem-form">
            {% csrf_token %}
            <div class="selection">
                <div class="unit-selection">
                    <select name="units" id="units">
                        <option value="limits" {% if selected_unit == 'limits' %}selected{% endif %}>Unit 1: Limits and Continuity</option>
                        <option value="derivatives" {% if selected_unit == 'derivatives' %}selected{% endif %}>Unit 2: Differentiation: Definition and Fundamental Properties</option>
                        <option value="chainrule" {% if selected_unit == 'chainrule' %}selected{% endif %}>Unit 3: Differentiation: Composite, Implicit, and Inverse Functions</option>
                        <option value="derivativeapps" {% if selected_unit == 'derivativeapps' %}selected{% endif %}>Unit 4: Contextual Applications of Differentiation</option>
                        <option value="derivativeapps2" {% if selected_unit == 'derivativeapps2' %}selected{% endif %}>Unit 5: Analytical Applications of Differentiation</option>
                        <option value="integrals" {% if selected_unit == 'integrals' %}selected{% endif %}>Unit 6: Integration and Accumulation of Change</option>
                        <option value="diffeqs" {% if selected_unit == 'diffeqs' %}selected{% endif %}>Unit 7: Differential Equations</option>
                        <option value="integralapps" {% if selected_unit == 'integralapps' %}selected{% endif %}>Unit 8: Applications of Integration</option>
                        <option value="polars" {% if selected_unit == 'polars' %}selected{% endif %}>Unit 9: Parametric Equations, Polar Coordinates, and Vector-Valued Functions</option>
                        <option value="series" {% if selected_unit == 'series' %}selected{% endif %}>Unit 10: Infinite Sequences and Series</option>
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                // Get the select element for units
                                var unitSelect = document.getElementById("units");
                        
                                // Add event listener for change event
                                unitSelect.addEventListener('change', function() {
                                    // Get the selected value
                                    var selectedUnit = unitSelect.value;
                                    // Redirect to the same page with the selected unit as a query parameter
                                    window.location.href = '';
                                });
                            });
                        </script>
                    </select>
                </div>
                <div class="tag-selection">
                    <span class="tag-button">Tags: </span>
                    <ul class="tags dropdown_menu dropdown_menu-1">
                        {% for tag in tags %}
                            <li class="tag dropdown_item-{{ forloop.counter }}">
                                <input type="checkbox" name="tags" value="{{ tag }}">
                                <span class="tag-text">{{ tag }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <script>
                        const tagButton = document.querySelector(".tag-button");
                        const tags = document.querySelector(".tags");
                        let isExpanded = false;

                        tagButton.addEventListener("click", () => {
                            if (isExpanded) {
                                tagButton.style.width = '100px';
                                isExpanded = false;
                            } else {
                                tagButton.style.width = '24vw';
                                isExpanded = true;
                            }
                            tags.classList.toggle("open");
                            var dropdown = document.querySelector('.dropdown_menu-1');
                        });
                        
                        document.addEventListener("DOMContentLoaded", function() {
                            const checkboxes = document.querySelectorAll("input[type='checkbox']");
                            checkboxes.forEach(function(checkbox) {
                                checkbox.addEventListener('change', function() {
                                    const selectedTags = [];
                                    checkboxes.forEach(function(cb) {
                                        if (cb.checked) {
                                            selectedTags.push(cb.value);
                                        }
                                    });
                                    localStorage.setItem('selectedTags', JSON.stringify(selectedTags));
                                });
                            });

                            const storedTags = JSON.parse(localStorage.getItem('selectedTags'));
                            if (storedTags) {
                                storedTags.forEach(function(tag) {
                                    const checkbox = document.querySelector("input[value='" + tag + "']");
                                    if (checkbox) {
                                        checkbox.checked = true;
                                    }
                                });
                            }
                        });
                    </script>
                </div>
            </div>
            <div class="problems">
                {% if random_problem %}
                    <div class="problem-container">
                        <p>$$ {{ random_problem.problem }} $$</p>
                    </div>
                    <ul>
                        {% for choice in random_problem.choices %}
                            <li>\( {{ choice }} \)</li>
                        {% endfor %}
                    </ul>
                    <div class="answer-container">
                        <p><span id="answer" onclick="clearContent()">\text{Enter answer}</span></p>
                        <button id="check-answer">
                            <ion-icon id="check-icon" name="checkmark" style="position: relative; top: 42px; left: 10px; padding: 2px;"></ion-icon>
                        </button>
                    </div>
                {% endif %}
                <button id="new-problem" type="submit" name="new_problem">New Problem ></button>
            </div>
        </form>
        <script>
            var answerSpan = document.getElementById("answer");
            var answerMathField = MQ.MathField(answerSpan, {
                handlers: {
                    edit: function() {
                        var enteredMath = answerMathField.latex();
                    }
                }
            });

            function clearContent(){
                answerMathField.latex("");
            }

            document.getElementById('check-answer').addEventListener('click', function(event) {
                event.preventDefault();
                checkAnswer();
            });

            function checkAnswer() {
                if (answerMathField.latex() === "{{ random_problem.answer }}") {
                    answerSpan.style.borderColor = "green";
                } else {
                    answerSpan.style.borderColor = "red";
                }
            }
        </script>
    </body>
</html>
