{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/svg" href="{% static 'img/logo.svg' %}">
        <title>EZ AP Companion | Problems</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <link rel="stylesheet" href="{% static 'mathquill-0.10.1/mathquill.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{% static 'mathquill-0.10.1/mathquill.js' %}"></script>
        <script>
            var MQ = MathQuill.getInterface(2);
        </script>
    </head>
    <body>
        <a href = "/home/">
            <div class="header">
                <img src="{% static 'img/logo.svg' %}" alt="logo">
                <h1>COMPANION</h1>
            </div>
        </a>
        <div class="selection">
            <div class="unit-selection">
                <select name="units" id="units">
                    <option value="limits">Unit 1: Limits and Continuity</option>
                    <option value="derivatives">Unit 2: Differentiation: Definition and Fundamental Properties</option>
                    <option value="chainrule">Unit 3: Differentiation: Composite, Implicit, and Inverse Functions</option>
                    <option value="derivativeapps">Unit 4: Contextual Applications of Differentiation</option>
                    <option value="derivativeapps2">Unit 5: Analytical Applications of Differentiation</option>
                    <option value="integrals">Unit 6: Integration and Accumulation of Change</option>
                    <option value="diffeqs">Unit 7: Differential Equations</option>
                    <option value="integralapps">Unit 8: Applications of Integration</option>
                    <option value="polars">Unit 9: Parametric Equations, Polar Coordinates, and Vector-Valued Functions</option>
                    <option value="series">Unit 10: Infinite Sequences and Series</option>
                </select>            
            </div>
            <div class="tag-selection">
                <span class="tag-button">Tags: </span>
                <ul class="tags dropdown_menu dropdown_menu-1">
                    <li class="tag dropdown_item-1">
                        <input type="checkbox">
                            <span class="tag-text">Derivatives</span>
                        </input>
                    </li>
                  
                    <li class="tag dropdown_item-2">
                        <input type="checkbox">
                            <span class="tag-text">Power Rule</span>
                        </input>
                    </li>
                    <li class="tag dropdown_item-3">
                        <input type="checkbox">
                        <span class="tag-text">Product Rule</span>
                    </li>
                    <li class="tag dropdown_item-4">
                        <input type="checkbox">
                            <span class="tag-text">Chain Rule</span>
                        </input>
                    </li>
                    <li class="tag dropdown_item-5">
                        <input type="checkbox">
                            <span class="tag-text">Quotient Rule</span>
                        </input>
                    </li>
                    <li class="tag dropdown_item-6">
                        <input type="checkbox">
                            <span class="tag-text">Trigonometric Functions</span>
                        </input>
                    </li>
                    <li class="tag dropdown_item-7">
                        <input type="checkbox">
                            <span class="tag-text">Logarithmic Functions</span>
                        </input>
                    </li>
                    <li class="tag dropdown_item-8">
                        <input type="checkbox">
                            <span class="tag-text">Implicit Differentiation</span>
                        </input>
                    </li>
                    <li class="tag dropdown_item-9">
                        <input type="checkbox">
                            <span class="tag-text">Derivative at a Point</span>
                        </input>
                    </li>
                    <li class="tag dropdown_item-10">
                        <input type="checkbox">
                            <span class="tag-text">Table</span>
                        </input>
                    </li>
                    <li class="tag dropdown_item-11">
                        <input type="checkbox">
                            <span class="tag-text">Intervals</span>
                        </input>
                    </li>
                </ul>
                <script>
                    const tagButton = document.querySelector(".tag-button");
                    const tags = document.querySelector(".tags");
                    let isExpanded = false; // To track the state of the button

                    tagButton.addEventListener("click", () => {
                        if (isExpanded) {
                            tagButton.style.width = '100px'; // Revert to original width or another value
                            isExpanded = false;
                        } else {
                            tagButton.style.width = '250px'; // Increase width
                            isExpanded = true;
                        }
                        tags.classList.toggle("open");
                        var dropdown = document.querySelector('.dropdown_menu-1');
                    });              
                </script>
            </div>
        </div>
        <div class="problems">
            <form method="POST">
                {% csrf_token %}
                {% if random_problem %}
                    <p>$$ {{ random_problem.problem }} $$</p>
                    <ul>
                        {% for choice in random_problem.choices %}
                            <li>\( {{ choice }} \)</li>
                        {% endfor %}
                    </ul>
                    <p><span id="answer" onclick="clearPlaceholderText()">Enter answer</span></p>
                    <script>
                        function clearPlaceholderText() {
                            var answerSpan = document.getElementById('answer');
                            if (answerSpan.innerText.trim() === 'Enter answer') {
                                answerSpan.innerText = '';
                            }
                        }

                        var answerSpan = document.getElementById('answer');
                        var answerMathField = MQ.MathField(answerSpan, {
                            handlers: {
                                edit: function() {
                                    var enteredMath = answerMathField.latex();
                                }
                            }
                        });
                    </script>
                {% endif %}
                <button type="submit" name="new_problem">New Problem ></button>
            </form>
        </div>
    </body>
</html>
