{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/svg" href="{% static 'img/logo.svg' %}">
        <title>EZ AP Companion | Problems</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

    </head>
    <body>
        <div class="header">
            <img src="{% static 'img/logo.svg' %}" alt="logo" >
            <h1>COMPANION</h1>
        </div>
        <div class = "container">
            <div class="search">
                <select name="units" id="units">
                    <option value="limits">Unit 1: Limits and Continuity</option>
                    <option value="derivatives">Unit 2: Differentiation: Definition and Fundamental Properties</option>
                    <option value="chainrule">Unit 3: Differentiation: Composite, Implicit, and Inverse Functions</option>
                    <option value="derivativeapps">Unit 4: Contextual Applications of Differentiation</option>
                    <option value="derivativeapps2">Unit 5: Analytical Applications of Differentiation</option>
                    <option value="integrals">Unit 6: Integration and Accumulation of Change</option>
                    <option value="diffeqs">Unit 7: Differential Equations</option>
                    <option value="integralapps">Unit 8: Applications of Integration</option>
                    <option value="polars">Unit 9: Parametric Equations, Polar Coordinates, and Vector-Valued Functions</option>
                    <option value="series">Unit 10: Infinite Sequences and Series</option>
                </select>
    
                <select id='multiple' multiple style="width:500px">
                <option value="Derivatives">Derivatives</option>
                <option value="Limits">Limits</option>
                </select>
            </div>
        </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
<script src = "{% static 'js/multi-select.js' %}"></script>
    </body>
</html>