@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');

html {
    background-color: #1e1e1e;
}

body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
}

.header img {
    width: 85px;
    border: 3px solid #9eabcc;
    border-radius: 50%;
}

.header h1 {
    font-family: 'Khand';
    font-size: 60px;
    color: #ffffff;
    letter-spacing: 0.15em;
    margin-left: 25px;
}

.browse {
    font-family: 'Lekton';
    text-align: center;
    color: #ffffff;
    margin-top: -60px;
}

h2 {
    font-size: 40px;
    margin: 200px 0px 120px;
}

a {
    font-size: 40px;
    padding: 20px 60px;
    border: #9eabcc 3px solid;
    border-radius: 50px;
    text-decoration: none;
}