@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap');

html {
    background-color: #1e1e1e;
    font-family: 'Khand', sans-serif;
}

body {
    margin: 0;
}

.header {
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
}